<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Documentos</title>
	<link rel="stylesheet" type="text/css" href="Styles.css">
</head>

<body>
		
	</div>

	<div class="Contenedor">
		<div class="Superior">
			<h2>Crear nuevo documento</h2>
		</div>
			<form class="Formulario">
				<input type="text" class="Input" placeholder="Nombre del documento" required autofocus>
				<input type="date" class="Input" required>
				<textarea class="Input" cols= "20" rows="3" placeholder="Cuerpo del documento"></textarea>

				<div class="Boton">
					<button>Guardar</button>
					<button>Nuevo</button>
					<button>Salir</button>
				</div>
				
			</form>
	</div>		
</body>
</html>